.carousel {
    display: block;
}

.carousel-actuator {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.carousel-actuator > * {
    flex: none;
}
